h1{
    text-align: center;
}
form{
    text-align: center;
}

#email_input {
    width: 15%;
    height:50px ;
}
main{
    background-color: crimson;
    height: 750px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
